<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head"); %>
  </head>
  <body>
    <%- include("partials/header"); %>
    <div class="main-container">
      <div class="content">
        <% if (user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/log-out">LOG OUT</a>
        <% } else { %>
        <p>Log in!</p>
        <% } %>
        <h1><%= title %></h1>
      </div>
    </div>
    <%- include("partials/footer"); %> <%- include("partials/js_tags"); %>
  </body>
</html>
