<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head"); %>
  </head>
  <body>
    <%- include("partials/header"); %>
    <div class="main-container">
      <div class="container">
        <h1><%= title %></h1>
        <ul class="collection">
          <% for (let i = 0; i < message_list.length; i++) { %> <% const
          initials = message_list[i].author.first_name.charAt(0) +
          message_list[i].author.last_name.charAt(0) %> <% const upperInitials =
          initials.toUpperCase() %>
          <li class="collection-item avatar">
            <% if (!locals.currentUser) { %>
            <img src="images/incognito.png" alt="" class="circle" />
            <% } else { %>
            <i class="material-icons circle initials"><%= upperInitials %></i>
            <% } %>
            <h2 class="title"><%= message_list[i].title %></h2>
            <% if (locals.currentUser && locals.currentUser.membership_status
            === 'member') { %>
            <p class="author">
              by
              <span class="author-name"
                ><%= message_list[i].author.name %></span
              >
            </p>
            <p class="date"><%= message_list[i].date__formatted %></p>
            <% }%>
            <p class="message"><%= message_list[i].content %></p>
            <% if (locals.currentUser && locals.currentUser.admin === true) { %>
            <a
              href="<%= message_list[i].url %>/delete"
              class="secondary-content"
              ><i class="material-icons">delete</i></a
            >
            <% } %> <% if (!locals.currentUser ||
            locals.currentUser.membership_status !== 'member') { %>
            <div class="divider"></div>
            <p class="note">
              Become a member to view who created this post and when.
            </p>
            <% } %>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <%- include("partials/footer"); %> <%- include("partials/js_tags"); %>
  </body>
</html>
