<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head"); %>
  </head>
  <body>
    <%- include("partials/header"); %>
    <div class="main-container">
      <div class="content">
        <i class="large material-icons">account_circle</i>

        <h1><%= title %></h1>
      </div>
    </div>
    <%- include("partials/footer"); %> <%- include("partials/js_tags"); %>
  </body>
</html>
